# Public Variables
NEXT_PUBLIC_SITE_URL=https://mohamed-elkenany.vercel.app
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Private Variables
CONTACT_EMAIL=mohamed20220632@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mohamed20220632@gmail.com
SMTP_PASS=your-app-password
